.Signup_Form{
    color: black;
    text-align: center;
    background-color:white;
    padding-top: 2%;
}
.Form{
    width: 80%;
    text-align: left;
    padding: 0 10% 0 10%
}

.Avata {
    width: 20%;
    height: 20%;
}
.button{
    background-image: none;
    background-color: black;
    border: none;
  }

