.Signin_Form{
  color: black;
  text-align: center;
  background-color:white;
}

.Form{
  width: 80%;
  text-align: left;
  margin: 0 10%;

}

.Avata {
  width: 20%;
  height: 20%;
}
.a_left{
  padding-right: 10%;
}
.a_right{
  padding-left: 10%
}
.checkbox_left{
  padding-right: 10%;
}