.Signin_Form{
  color: black;
  text-align: center;
  background-color:white;
  padding-top:2%;
}

.Form{
  width: 70%;
  margin: 0 10%;
}

.Avata {
  width: 20%;
  height: 20%;
}

.checkbox_remember
{
  padding-left:10%;
  padding-right:10%;
}
.button{
  background-image: none;
  background-color: black;
  border: none;
}
